body {
    background-color: #f3f4f6;
}

.icon-container {
  width: 60px;
  height: 60px;
  background-color: #4c6ef5; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 195px;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0 px; /* Space from top of the page,, match with signin css */
    background-color: #ffffff;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #333333
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d1d5db; /* Light border */
    border-radius: 6px;
    margin-top: 0.5rem;
    background-color: #f9fafb; /* Light background */
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #2563eb; /* Blue border on focus */
    outline: none;
}

.input-error {
    border-color: #dc2626; /* Red border for errors */
    background-color: #fef2f2; /* Light red background for errors */
}

p {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #2563eb; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 0.5rem;
}

.btn:hover {
    background-color: #1e40af; /* Darker blue on hover */
    color: #ffffff;
}

.btn:disabled {
    background-color: #93c5fd; /* Light blue for disabled state */
    cursor: not-allowed;
}

form > div {
    margin-bottom: 1rem;
}

form > div:last-child {
    margin-bottom: 0px;
}

@media (max-width: 480px) {
    form {
      padding: 1.5rem;
    }
  
    h1 {
      font-size: 1.25rem;
    }
  
    .input {
      font-size: 0.875rem;
    }
  
    .btn {
      font-size: 0.875rem;
    }
}
  
  