.menu-container {
  width: 85%;
}

@media (max-width: 575.98px) { /* xs */
  .menu-container {
    width: 95%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { /* sm */
  .menu-container {
    width: 92%;
  }
}

@media (min-width: 768px) { /* md and up */
  .menu-container {
    width: 90%;
  }
}