@font-face {
  font-family: 'CustomFont';  /* The name you will use to reference the font */
  src: url('./fonts/FloralpersonaluseBold-K7wry.otf') format('opentype'),  /* Path to the .otf font */
       url('./fonts/FloralpersonaluseBold-2OYod.otf') format('opentype');  /* Path to the .otf font */
  font-weight: normal;  /* Optional: Define the weight if needed */
  font-style: normal;   /* Optional: Define the style (e.g., italic, normal) */
}


body {
  background-image: url('https://images.unsplash.com/photo-1624359136353-f60129a367b9?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #f0f0f0; /* Fallback color */
}

/* TITLE SECTION - GREETS USERS TO ORGANIZATION */
.title {
  font-family: 'CustomFont', sans-serif;
  font-size: 80px;
  color:#ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  animation: 1.1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#title-border {
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-subheader {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#f5f5f5;
  animation: 1.1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background: linear-gradient(45deg, #10AA46, #0FC39E, #2DBDE3);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
};

/* LANGUAGE CONTAINER */
.language-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}

.language-title {
  text-align: center;
  margin-top: 45px;
  font-size: 40px;
  color:#ffffff;
  width: 100%;
}

.language-subheader {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#f5f5f5;
}

/* CURRENCY SECTION */
.currency-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}

.currency-title {
  text-align: center;
  margin-top: 45px;
  font-size: 40px;
  color:#ffffff;
  width: 100%;
}

.currency-subheader {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#f5f5f5;
}