.calendar-scroll::-webkit-scrollbar {
  width: 0px;
}

.calendar-scroll {
  height: 150px;
  overflow-y: auto;
}

.flex-fill {
  flex: 1 1 auto;
}

.backg-light {
  background-color: #f8f9fa;
}

.backg-dark {
  background-color: #e9ecef;
}

.calendar-card {
  cursor: pointer;
}
.calendar-card:hover {
  border: 1px solid gold;
}

.calendar-card-expanded {
  width: 100%;
  height: 300px;
}

.modal-custom {
  bottom: 15.5% !important;
}

.star-button {
  margin-top: -9px;
  margin-left: -15px;
}
